.booksContent{
    padding-top:40px;
}
.pagination-center{
    display: table;
    margin: 0 auto;
    margin-top:50px;
}
.ui.card>.image, .ui.cards>.card>.image{
    width:256px;
    height:256px;
}
.singleElement{

    padding-left:20px;
    width:256px;
    height:256px;
    margin-bottom:65px;

}
.form-element_addbooks{
    padding-bottom: 5px;
    padding-top:5px;

}
.input-books{
    display:flex;
    justify-content: center;
}
